nav{
  background-color: #262626;
  display: flex;
  justify-content: space-around;
}

nav a{
  color: rgb(236, 235, 234);
}

#app{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* #app form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
} */
